body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-register-user div {
  margin: 8px 0;
}

.input-error {
  border-color: rgb(228, 48, 48);
}

.text-danger {
  color: rgb(228, 48, 48);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.list-item h3,
p {
  margin: 0;
}

.task-done {
  text-decoration: line-through;
  color: rgba(118, 118, 118, 0.3);
  cursor: default;
}