body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-register-user div {
  margin: 8px 0;
}

.input-error {
  border-color: rgb(228, 48, 48);
}

.text-danger {
  color: rgb(228, 48, 48);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
